@import url('https://fonts.googleapis.com/css?family=Merriweather');.SignIn {
   
    margin-bottom: 10vh;
}

.SignIn a {
    color: #cfcfcfa6;
}
.SignIn h1 {
    text-align: center;
    font-size: 60px;
    color: #cfcfcfa6;
    margin-bottom: 10%;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    margin-top: 20px;
   
}

.SignIn .Container {
    width: 35vw;
    background-color: #091c44d9;
    margin: auto;
    margin-top: 25vh;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 12px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0,0,0,.19);

}

.SignIn .buttons {

    margin: 10px;
    text-align: center;
}

.SignIn button {
    margin-right: 14px;
    margin-bottom: 14px;
    background: transparent;
   
}


.SignIn .idInput {
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #cfcfcfa6;
    color: #cfcfcfa6;
}

.SignIn .pwdInput {
    margin-bottom: 30px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #cfcfcfa6;
    color: #cfcfcfa6;
}


@media only screen and (max-width: 500px) {

    
    .SignIn .Container {
      width: 90vw;
      margin-top: 10%;
       height: 90vh;
    }
    .SignIn button {
      width: 80vw;
      margin-left: -14px;
    }
   
}